@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

* {
  font-family: 'Didact Gothic', sans-serif;

  letter-spacing: .06em;

  @include sm {
    letter-spacing: .10em;
  }

  @include md {
    letter-spacing: .145em;
  }

  @include lg {
    letter-spacing: .20em;
  }
}

a {
  color: inherit;
}

body {
  @include sm {
    margin: 16px;
  }

  @include md {
    margin: 32px;
  }

  @include lg {
    margin: 64px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  margin: 0px;
  font-size: 32px;

  @include sm {
    font-size: 64px;
  }

  @include md {
    font-size: 80px;
  }

  @include lg {
    font-size: 96px;
  }
}

.date-header {
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 4px;
}

.subheading {
  margin-top: 16px;
  margin-bottom: 16px;
}

.show-container {
  display: flex;
  flex-direction: row;
}

.show-date {
  margin: 0;
  font-size: 16px;
  font-family: 'lucida console', monospace;
  padding-top: 1px;
}

.show-content {
  margin: -1px 0px 0px 6px;
  font-size: 16px;
}